In [150]:
#Importando as bibliotecas
import warnings
warnings.filterwarnings('ignore')
#pandas
import pandas as pd 

import matplotlib.pyplot as plt
import matplotlib as mpl
import locale

In [151]:
#importando o dataset

#Dataset 16 ao 26/01/2024
df_pacotes_entregues = pd.read_csv('./pacotes_entregue_01_08022024.csv',delimiter=';')

In [152]:
#Verificando a dimensão

df_pacotes_entregues.shape

(190203, 14)

In [153]:
#Verificando os nulos

df_pacotes_entregues.isnull().sum()

Número de pedido JMS         0
Franqueado                   0
Base de entrega              0
Responsável pela entrega     0
Marca de assinatura          0
Valor Mercadoria             0
CEP destino                  0
Endereço completo            0
Cidade Destino               0
Distrito destinatário       25
Destinatário                 0
Horário da entrega           0
CNPJ                         0
Peso cobrável                0
dtype: int64

In [154]:
df_pacotes_entregues.rename(columns={'Número de pedido JMS':'NUMERO_PEDIDO_JMS',
                                    'Franqueado':'FRANQUEADO',
                                     'Responsável pela entrega':'AGREGADO',
                                     'Valor Mercadoria':'VALOR_MERCADORIA',
                                     'CEP destino':'CEP',
                                     'Marca de assinatura':'ASSINATURA',
                                     'Endereço completo':'ENDERECO_COMPLETO',
                                     'Cidade Destino':'CIDADE',
                                     'Distrito destinatário':'BAIRRO',
                                     'Destinatário':'DESTINATARIO',
                                     'Horário da entrega':'HORARIO_ENTREGA',
                                     'Base de entrega':'BASE_ENTREGA',
                                     'Peso cobrável':'PESO_COBRAVEL',
                                     'CNPJ':'CPF_CNPJ'}, inplace=True)

In [155]:
#modificando as string para maiusculas

df_pacotes_entregues['AGREGADO'] = df_pacotes_entregues['AGREGADO'].str.upper()

df_pacotes_entregues['CIDADE'] = df_pacotes_entregues['CIDADE'].str.upper()

df_pacotes_entregues['BAIRRO'] = df_pacotes_entregues['BAIRRO'].str.upper()

df_pacotes_entregues['DESTINATARIO'] = df_pacotes_entregues['DESTINATARIO'].str.upper()

df_pacotes_entregues['ASSINATURA'] = df_pacotes_entregues['ASSINATURA'].str.upper()

df_pacotes_entregues['ENDERECO_COMPLETO'] = df_pacotes_entregues['ENDERECO_COMPLETO'].str.upper()

In [156]:
#Moficando o tipo do atributo para string

df_pacotes_entregues['CPF_CNPJ'] = df_pacotes_entregues['CPF_CNPJ'].astype(str)

#modifica a virgula por ponto

df_pacotes_entregues['VALOR_MERCADORIA'] = df_pacotes_entregues['VALOR_MERCADORIA'].str.replace(',','.')

df_pacotes_entregues['PESO_COBRAVEL'] = df_pacotes_entregues['PESO_COBRAVEL'].str.replace(',','.')

#transformando o atributo em float

df_pacotes_entregues['VALOR_MERCADORIA'] = df_pacotes_entregues['VALOR_MERCADORIA'].astype(float)

df_pacotes_entregues['PESO_COBRAVEL'] = df_pacotes_entregues['PESO_COBRAVEL'].astype(float)

In [157]:
#transformando no tipo datetime
df_pacotes_entregues['HORARIO_ENTREGA'] = pd.to_datetime(df_pacotes_entregues['HORARIO_ENTREGA'])

#Extrair somente a data
df_pacotes_entregues['HORARIO_ENTREGA'] = df_pacotes_entregues['HORARIO_ENTREGA'].dt.date

#Transformando novamente para datetime, porque quando extrai somente a data
# o atributo é convertido para string(object)

df_pacotes_entregues['HORARIO_ENTREGA'] = pd.to_datetime(df_pacotes_entregues['HORARIO_ENTREGA'])

In [158]:
#Filtrando somente os valores nulos do atributo 'CEP'
#Acima, filtrei somente os nulos e mostra que são multiplos que 
#não eram para ter aparecido.

df_pacotes_nao_entregues = df_pacotes_entregues[df_pacotes_entregues['BAIRRO'].isna()]

df_pacotes_nao_entregues.shape

(25, 14)

In [159]:
#Modificando o missings por "BAIRRO INEXISTENTE'

df_pacotes_entregues['BAIRRO'].fillna('BAIRRO INEXISTENTE',inplace=True)

#excluindo os valores nulos 

df_pacotes_entregues_clear = df_pacotes_entregues.dropna(subset=['CEP'])

df_pacotes_entregues_clear.isnull().sum()

NUMERO_PEDIDO_JMS    0
FRANQUEADO           0
BASE_ENTREGA         0
AGREGADO             0
ASSINATURA           0
VALOR_MERCADORIA     0
CEP                  0
ENDERECO_COMPLETO    0
CIDADE               0
BAIRRO               0
DESTINATARIO         0
HORARIO_ENTREGA      0
CPF_CNPJ             0
PESO_COBRAVEL        0
dtype: int64

In [160]:
#Verificando se existem pedidos duplicados

df_pacotes_entregues_clear['NUMERO_PEDIDO_JMS'].value_counts()

NUMERO_PEDIDO_JMS
888000377323557    1
888500757384982    1
888500756205455    1
888500756482317    1
888500756489655    1
                  ..
888000413726095    1
888000413743318    1
888000413764608    1
888000413871854    1
888700018904195    1
Name: count, Length: 190203, dtype: int64

In [161]:
#Exibindos as informaçoes do dataframe
df_pacotes_entregues_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190203 entries, 0 to 190202
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   NUMERO_PEDIDO_JMS  190203 non-null  int64
 1   FRANQUEADO         190203 non-null  object
 2   BASE_ENTREGA       190203 non-null  object
 3   AGREGADO           190203 non-null  object
 4   ASSINATURA         190203 non-null  object
 5   VALOR_MERCADORIA   190203 non-null  float64
 6   CEP                190203 non-null  int64
 7   ENDERECO_COMPLETO  190203 non-null  object
 8   CIDADE             190203 non-null  object
 9   BAIRRO             190203 non-null  object
 10  DESTINATARIO       190203 non-null  object
 11  HORARIO_ENTREGA    190203 non-null  datetime64[ns]
 12  CPF_CNPJ           190203 non-null  object
 13  PESO_COBRAVEL      190203 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(9)
memory usage: 20.3+ MB

In [162]:
#Exportando os dataframe para csv

df_pacotes_entregues_clear.to_csv('./pacotes_entregues_01_08022024_processado.csv',encoding='utf-8', index=False)

# exportando os pacotes não entregue

df_pacotes_nao_entregues.to_csv('./pacotes_nao_entregues_01_08022024_processado.csv',encoding='utf-8', index=False)

Inicio do tratamento do dataframe agregados

In [163]:
#dataset agregados
df_agregado = pd.read_csv('./base_agregados_09022024.csv',delimiter=';')

#Verificando a dimensão
df_agregado.shape

(7028, 59)

In [164]:
#Exibindo somente as colunas selecionadas
df_agregados_colunas = df_agregado.loc[:,['Placa','Nome da sua estação','Nome de tipo de veículo','Nome do condutor','CPF']]

In [165]:
#Renomeando os atributos

df_agregados_colunas.rename(columns={'Placa':'PLACA',
                                     'Nome da sua estação':'NOME_BASE',
                                     'Nome de tipo de veículo':'TIPO_VEICULO',
                                     'Nome do condutor':'AGREGADO',
                                     'CPF':'CPF_CNPJ'},inplace=True)

In [166]:
#excluíndo cpf duplicados

df_agregados_colunas.duplicated(subset=['CPF_CNPJ']).sum()

184

In [167]:
#Armazenando os CPF duplicados e logo apos a exclusão.
df_agregados_duplicado = df_agregados_colunas[df_agregados_colunas.duplicated(subset=['CPF_CNPJ'])]

# Excluíndo as linhas duplicadas

df_agregados_clean = df_agregados_colunas.drop_duplicates(subset=['CPF_CNPJ'])

#Exibindo as dimensão

In [168]:
#Verificando o que são os missings
df_agregados_clean[df_agregados_clean['NOME_BASE'].isna()]

,PLACA,NOME_BASE,TIPO_VEICULO,AGREGADO,CPF_CNPJ
3221,QUF3H47,NaN,PASSEIO,MARJORY LOUREIRO,758909764
4813,KVA3662,NaN,PASSEIO,TAC CARRO - CARLOS ALBERTO NASCIMENTO DA SILVA,16829862760
4964,KXS4B99,NaN,FIORINO,MEI CARRO - ROMULO GONÇALVES TORRES DE SOUZA,14593194784
4977,LRJ0573,NaN,PASSEIO,MEI CARRO - DANIELLE MORIEL MENEZES,9003567743
6232,MPV1186,NaN,PASSEIO,MEI CARRO - DIONES LEMOS MOTHE,5765193757
6555,QUH6D81,NaN,PASSEIO,TAC CARRO - ROBERT PIRES DUPIO,16662126799
6781,KNY4D11,NaN,PASSEIO,MEI CARRO - RAI RANGEL CRESPO,16150365719

In [169]:
#Modificando os missings para 'RJ' somente para ter uma base vinculada
df_agregados_clean['NOME_BASE'].fillna('RJ',inplace=True)

#Verificando se existe missings
df_agregados_clean.isnull().sum()

PLACA           0
NOME_BASE       0
TIPO_VEICULO    0
AGREGADO        0
CPF_CNPJ        0
dtype: int64

In [170]:
#Verificando os tidos de veículos
df_agregados_clean['TIPO_VEICULO'].unique()

array(['PASSEIO', 'FIORINO', 'Moto', 'Utilitário', 'Furgao', 'HR-Furgão',
       'Truck', 'Camionete', 'VUC', '3/4', 'Baú', 'VAN'], dtype=object)

In [171]:
# Alterando os nomes do Veículos para ter somente CARRO e MOTO

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('FIORINO','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('PASSEIO','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('Utilitário','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('HR-Furgão','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('Truck','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('Camionete','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('Furgao','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('Furgao','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('VUC','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('3/4','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('Baú','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('VAN','CARRO')

df_agregados_clean['TIPO_VEICULO'] = df_agregados_clean['TIPO_VEICULO'].replace('Moto','MOTO')

In [172]:
#Buscando os agregados que são tipo bike e estão especificados no nome.
#.loc serve para mostrar somente o atributos especifico
#str.contains('BIKE') -> Busca por essa palavras em uma string dentro do atributos
#,(TIPO_VEICULO)] = 'BIKE' -> Muda as linha que está na pesquisa em um nome especificado 'BIKE'


df_agregados_clean.loc[df_agregados_clean['AGREGADO'].str.contains('BIKE'), 'TIPO_VEICULO'] = 'BIKE'

In [173]:
#Verificando se existe duplicados
df_agregados_clean.duplicated(subset=['CPF_CNPJ']).sum()

0

In [174]:
#VErificando a dimensão - A quantidade de linhas e colunas.
df_agregados_clean.shape

(6844, 5)

In [175]:
df_agregados_clean.to_csv('agregados_motorista_processado.csv',encoding='utf-8',index=False)

In [176]:
#Transformando do tipo do atributo 'CPF_CNPJ' para string e apos realizar o join
df_agregados_clean['CPF_CNPJ'] = df_agregados_clean['CPF_CNPJ'].astype(str)

In [177]:
#Fazendo o Join  entre o dataframe df_pacotes X df_agregados

df_pacotes_agregados = pd.merge(df_pacotes_entregues_clear,df_agregados_clean,on=['CPF_CNPJ'],how='left')
                                
df_pacotes_agregados.shape

(190203, 18)

In [178]:
#Excluindo a colunas que replicou

df_pacotes_agregados.drop(['AGREGADO_y'],axis=1,inplace=True)

#Modificando o nome da colunas

df_pacotes_agregados.rename(columns={'AGREGADO_x':'AGREGADO'},inplace=True)

In [179]:
#Importando o dataset que contém os valores
df_valores = pd.read_csv('./precificacao_080224.csv', delimiter=',')

In [180]:
#Realizando um Join com o dataframe de valores

df_pacotes_full = pd.merge(df_pacotes_agregados,df_valores,on=['CIDADE','BAIRRO','TIPO_VEICULO'],how='left')

In [181]:
#Filtrando os pacotes nulos

df_nulos = df_pacotes_full[df_pacotes_full['VALOR'].isna()]

In [182]:
#Excluíndo os atributos para realizar um novo join

df_nulos.drop(['VALOR','NOME_BASE','PLACA'],axis=1,inplace=True)

In [183]:
#Realizando o JOin com os pedidos que não possuem bairros cadastrados

df_nulos_proc = pd.merge(df_nulos,df_valores,on=['CIDADE','TIPO_VEICULO'],how='left')

#Excluí os duplicados

df_nulos_proc.drop_duplicates(subset=['NUMERO_PEDIDO_JMS'],inplace=True)

In [184]:
#Excluíndo o atributo duplicado

df_nulos_proc.drop(['BAIRRO_y'],axis=1,inplace=True)

#modificando o nome do atributo

df_nulos_proc.rename(columns={'BAIRRO_x':'BAIRRO'},inplace=True)

In [185]:
#Excluído valores nulos do atributo 'VALOR'
df_pacotes_full.dropna(subset=['VALOR'],inplace=True)

In [186]:
#excluído os atributos

df_pacotes_full.drop(['PLACA','BASE_ENTREGA_y','NOME_BASE'],axis=1,inplace=True)

#Renomear o atributo BASE_ENTREGA_X

df_pacotes_full.rename(columns={'BASE_ENTREGA_x':'BASE_ENTREGA'},inplace=True)

In [187]:
#Concatenando

df_fechamento_full = pd.concat([df_pacotes_full,df_nulos_proc])

In [188]:
#Verificacao de mnulos

df_fechamento_full['NUMERO_PEDIDO_JMS'].value_counts()

NUMERO_PEDIDO_JMS
888030031141529    11
888030025232442    11
888030034004899    11
888030029252564    11
888030031294161    11
                   ..
888500755039522     1
888500755140355     1
888500755252982     1
888500755417132     1
888700018015849     1
Name: count, Length: 190203, dtype: int64

In [189]:
#Excluíndo os duplicados

df_fechamento_full.drop_duplicates(subset=['NUMERO_PEDIDO_JMS'],inplace=True)

In [190]:
#Excluíndo atributos desnecessários.

df_fechamento_full.drop(['BASE_ENTREGA_x','BASE_ENTREGA_y'],axis=1,inplace=True)

In [191]:
df_fechamento_full.shape

(190203, 16)

In [192]:
#Exportando para csv

df_fechamento_full.to_csv('/Users/arthur.lopes/Desktop/Projeto_ALS/relatorio_final/pacotes_entregues01_08022024_proc.csv',encoding='utf-8',index=False)

OSError: Cannot save file into a non-existent directory: '\Users\arthur.lopes\Desktop\Projeto_ALS\relatorio_final'